
.w-500 {
    width: 500px;
    max-width: 500px;
    margin: auto;
}

.signin-card {
    width: 486px;
    max-width: 486px;
    margin: auto;
    border: #e0e0e0 2px solid ;
    border-radius: 4px;
    padding-left: 74px;
    padding-right: 66px;
    padding-top: 83px;
    padding-bottom: 96px;
    margin-top: 89px;
    background-color: white;
}

.signup-card {
    width: 617px;
    max-width: 617px;
    margin: auto;
    border: #e0e0e0 2px solid ;
    border-radius: 4px;
    padding-left: 136px;
    padding-right: 161px;
    padding-top: 69px;
    padding-bottom: 15px;
    margin-top: 89px;
    background-color: white;
}

.reset-card {
    width: 486px;
    max-width: 486px;
    margin: auto;
    border: #e0e0e0 2px solid ;
    border-radius: 4px;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 83px;
    padding-bottom: 96px;
    margin-top: 89px;
    background-color: white;
}

.sign-in {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
}
