@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Black.otf');
    font-weight: black; 
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Bold.otf');
    font-weight: bold; 
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Regular.otf');
    font-weight: normal; 
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Semibold.otf');
    font-weight: bolder; 
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Light.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/static/SF-Pro-Text-Regular.otf');
    font-weight: regular;
}